/autom4te.cache/
/.deps/
/.libs/
*.o
*.so.*
*.a
*.la
*.lai
*.lo
*.Plo
*.Po
*.log
/Default/
*.exe
/.cproject
/.settings/
/.project
/compile
/Makefile 
/config.status 
/include/Makefile 
/include/bitmailcore/Makefile 
/src/Makefile
/Makefile.in
/aclocal.m4
/configure
/include/Makefile.in
/include/bitmailcore/Makefile.in
/libtool
/src/Makefile.in
/test/bmc
/config.guess
/config.sub
/depcomp
/INSTALL
/install-sh
/missing
