/imageformats
/imageformats/qdds.dll
/imageformats/qgif.dll
/imageformats/qicns.dll
/imageformats/qico.dll
/imageformats/qjpeg.dll
/imageformats/qsvg.dll
/imageformats/qtga.dll
/imageformats/qtiff.dll
/imageformats/qwbmp.dll
/imageformats/qwebp.dll
/libgcc_s_dw2-1.dll
/libstdc++-6.dll
/libwinpthread-1.dll
/platforms
/platforms/qminimal.dll
/platforms/qoffscreen.dll
/platforms/qwindows.dll
/Qt5Core.dll
/Qt5Gui.dll
/Qt5Network.dll
/Qt5Widgets.dll
